
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark-blue sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center my-2 d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex  justify-content-center m-0">
        <div class="sidebar-brand-text">Student Database Manager </div>
      </a>

       <button class="btn btn-outline-light m-3 my-auto">
         Log Out
       </button>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">School XYZ Bootcamp</h1>
          </div>
          <!-- Content Row -->
          <div class="row">
          <!--Middle section-->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <!--To Display list OR Update form -->
              <router-outlet></router-outlet>
            </div>
        <!--End of middle section-->
        <!--section 2-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-2 row">
                <!-- Card 1 Total Students  -->
                <div class="mb-4 col-6">
                  <app-card 
                    title="Total Number Registered Students"
                    [number]="Students.length"  
                  >
                  </app-card>
                </div>
                <!-- Card 2 Activated Students -->
                <div class="mb-4 col-6">
                  <app-card 
                    title="Activated Students"
                    [number]="Students.length"  
                  >
                  </app-card>
                </div>
                <!-- Add Student Form -->
                <app-student-add></app-student-add>
            </div>
            <!--End of section 2-->
          </div>

        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Student Database Manager</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
